extends baseEmail

block content
    p Hi #{firstName},
    p Forgot your password? submit a patch request with your new password and confirm it to: #{url}.
    p if you didnt forget your password, just ignore this shit
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
             td(align='left')
                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tbody
                        tr
                            td
                                a(href=`${url}`, target='_blank') Reset my password!
    p If you need any help with booking your next tour, please don't hesitate to contact me!
    p - Jonas Schmedtmann, CEO